---
import Button from "./Button.astro";

const { image, title, description, paintings } = Astro.props;
---

<article class="w-screen max-w-4xl lg:max-w-6xl h-full">
  <div class="flex flex-col h-full lg:flex-row py-6 pr-6">
    <div class="w-full h-72 lg:h-full lg:flex-1/2">
      <img
        src=`./assets/${image}.webp`
        alt={title}
        class="w-full h-full object-cover rounded-t-xl lg:rounded-t-none lg:rounded-l-xl"
      />
    </div>
    <div
      class="bg-secondary flex-1/2 p-8 py-10 flex flex-col gap-6 justify-between rounded-b-xl lg:justify-center lg:rounded-b-none lg:rounded-r-xl lg:p-12"
    >
      <h3 class="text-3xl font-bold">{title}</h3>
      <p class="prose prose-invert md:text-lg">{description}</p>
      <p class="prose-invert prose md:text-lg">🖼️ {paintings}</p>
      <footer>
        <Button href="#" onclick="event.preventDefault()" size="md"
          >Ver Colección</Button
        >
      </footer>
    </div>
  </div>
</article>
